.container {
  max-width: 1080px;
  margin: 0 auto;
  font-size: 18px;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.page {
  margin: 30px auto;
  display: flex;
  justify-content: center;
}
